//COLORS
$blue: #121E6C;
$red: #EE424E;
$dark-gray: #606060;
$light-gray: #F3F3F3;
$back-color: #F6F4F9;
$white: #fff;
$black: #1e1e1e;



//typography
$font-primary: "Montserrat", sans-serif;
$weight-font: 300;
$fs-base: 1rem;
$base-line-height: 1.5; // Line-height base
$vertical-rhythm-multiplier: .8; // Multiplicador del ritmo vertical -->https://zellwk.com/blog/why-vertical-rhythms/

//spacing
$base-padding: 1rem;
$base-margin: 1rem;

//layout
$width-container: 1280px;
$grid-columns: 12;
$gutter-width: 1rem;

//borders
$base-border-radius: .5rem;


